@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body{
    font-family: 'Montserrat';
    overflow-x: hidden;
}

.this-ul{
    width: 1050px;
    /* margin: 0 auto; */
    display: inline-block;
}

.any-ul{
    list-style: none;
    background-color: black;
}

nav{
    opacity: 0.7;
    display: flex;
    justify-content: center;
    list-style: none;
    background-color: black;
}

nav > ul > li {
    float: left;
}

nav ul::after{
    content: "";
    display: block;
    clear: both;
}

nav ul li a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
}

nav ul li a:hover{
    color: lightgray;
}

nav ul ul {
    display: none;
    position: absolute;
}

nav ul li:hover ul{
    display: block;
}

.big-photo{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    background-image: url(../images/Front-at-First-choce-Name-Photo-.jpg);
    display: block;
    width: 100%;
    height: 518px;
    padding-top: 300px;
}

.logo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-wrap: break-word;
    font-family: 'Montserrat', sans-serif;
    font-size: 52px;
    font-style: normal;
    font-weight: bolder;
    letter-spacing: 4px;
    line-height: 1.3;
    text-transform: uppercase;
}

.conductor{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 1.9;
    text-transform: uppercase;
}

.big-titol{
    height: 70px;
    margin: 0px 0 70px 0; 
    text-align: center;
    font-size: 70px;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.bio{
    padding-top: 70px;
    color: black;
    background-attachment: fixed;
    background-image: url(../images/bio.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    /* position: absolute;
    bottom: 0;
    left: 0; */
    display: block;
    /* background-color: green; */
    opacity: 1;
    width: 100%;
    height: 1634px;
    z-index: -1;
}

h2{
    height: 70px;
    margin: 0px 0 70px 0; 
    text-align: center;
    font-size: 70px;
    letter-spacing: 4px;
    text-transform: uppercase;
}

h3{
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 1.9;
    text-transform: uppercase;
}

hr{
    color: black;
    margin-top: 70px;
    width: 100px;
    text-align: center;
}

p{
    width: 922px;
    margin: 0 auto;
    font-family: 'open-sans';
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 2;
}

input{
    display: block;
    margin: 50px auto;
    color: #ffffff;
    border-width: 1px;
    border-color: #000821;
    border-radius: 0px;
    letter-spacing: 4px;
    font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
    text-transform: uppercase;
    background-color: #000821;
    width: 205px;
    height: 48px;
    transition-property: all;
    transition-duration: 0.2s;
    font-size: 16PX;
}

input:hover{
    letter-spacing: 6px;
    cursor: pointer;
}

.kurt-masur{
    background-image: url(../images/Front-Masur-font-lightest.jpg);
    padding-top: 90px;
    display: block;
    justify-content: column;
    width: 100%;
    height: 384px;
    /* background-color: blue; */
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
}

h1{
    width: 100%;
    justify-content: center;
    display: flex;
    height: 78px;
    font-size: 52px;
    font-style: normal;
    font-weight: 1000;
    letter-spacing: 4px;
    line-height: 1.3;
    color: white;
}

.stretch{
    color: white;
    margin-top: 0px;
    width: 100px;
    text-align: center;
}

.brackets{
    margin-top: 70px;
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'Spectral';
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    line-height: 2;
}

.kurt{
    margin-top: 70px;
    display: flex;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 150;
    letter-spacing: 4px;
    line-height: 1.5;
    text-transform: uppercase;
    color: white;
}

.baton{
    background-attachment: fixed;
    background-image: url(../images/2-Panorama-3.jpg);
    color: white;
    padding-top: 70px;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    width: 100%;
    height: 954px;
    display: block;
    /* background-color: blueviolet; */
}

.big-text{
    margin: 0 auto;
    width: 1008px;
    height: 209px;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 1.9;
    text-transform: uppercase;
}

.recording{
    width: 922px;
    margin: 0 auto;
    font-family: 'sans-serif';
    font-size: 22px;
    font-style: normal;
    line-height: 2;
}

.another-page{
    color: white;
}

.media{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-image: url(../images/Conc-2-2.jpg);
    padding-top: 50px;
    /* color: white; */
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    width: 100%;
    height: 1119px;
    display: block;
    /* background-color: green; */
}

.big-title{
    margin: 0 0 0 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 78px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 4px;
    line-height: 1.3;
    color: white;
}

.stretcher{
    margin-top: 70px;
    width: 100px;
    text-align: center;
}


.video{
    width: 660px;
    height: 415px;
    margin: 50px auto;
}

.recordings{
    padding-top: 50px;
    /* color: white; */
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    width: 100%;
    height: 1139px;
    display: block;
    /* background-color: green; */
}

.images{
    width: 200px;
    height: 200px;
}

.movement{
    display: flex;
    margin: 50px auto;
    width: 200px;
    height: 270px;
    justify-content: center;
}

.first-amazon{
    position: relative;
    right: 120px;
    margin: 220px 0 0 0;
    height: 40px;
    width: 40px;
}

.hi{
    height: 40px;
    width: 40px;
}

.paganini{
    display: flex;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 100;
    letter-spacing: 4px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.lviv-orchestra{
    font-family: 'Montserrat';
    font-weight: 800;
    color: black;
    margin-top: 20px;
    display: flex;
    text-decoration: none;
    justify-content: center;
}

.colorist{
    color: white;
}

#SCHEDULE{
    color: white;
}

.schedule{
    padding-top: 50px;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    background-image: url(../images/Reh-1-a.jpg);
    width: 100%;
    height: 13650px;
    display: block;
    /* background-color: green; */
}

.concerts-list{
    font-family: 'Montserrat';
    padding: 20px 0 0 20px;
    margin: 20px auto;
    width: 1000px;
    height: 480px;
    background-color: white;
}

.blocks{
    float: left;
    width: 333px;
    height: 100%;
}

.datus{
    font-family: 'Montserrat';
    color: gray;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 2;
}

.date{
    font-family: 'Montserrat';
    color: gray;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 2;
}

.description{
    color: gray;
    margin: 0 auto;
    font-size: 19px;
    font-weight: 300;
    line-height: 2;
}

.alex{
    font-weight: bold;
}

.mario{
    font-weight: bold;
}

.addon{
    margin: 0 auto;
}

.add{
    font-style: normal;
}

.dop{
    height: 560px;
}

.addd{
    height: 680px;
}

.dopel{
    height: 600px;
}

.dopelus{
    height: 700px;
}

.cast{
    text-decoration: none;
    color: black;
}

.fotos{
    padding-top: 50px;
    display: block;
    width: 100%;
    height: 1150px;
    /* background-color: green; */
}

.three-words{
    margin: 50px auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 1.9;
    text-transform: uppercase;
}

.four-photos{
    width: 100%;
    height: 150px;
    /* background-color: red; */
    display: flex;
    justify-content: space-around;
}

.links{
    color: black;
    padding-top: 50px;
    background-image: url(../images/REh-7-1.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 520px;
    /* background-color: green; */
    display: block;
}

.center{
    margin: 20px auto;
}

.marios{
   margin: 0 auto; 
}

.news{
    background-image: url(../images/Reh-a-1-2.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 70px;
    width: 100%;
    height: 780px;
    /* background-color: green; */
    display: block;
}

.block-columns{
    margin-top: 70px;
    width: 100%;
    height: 530px;
    display: flex;
    justify-content: space-around;
}

.columns{
    height: 100%;
    width: 400px;
    /* background-color: red; */
}

.size-photo{
    box-sizing: contect-box;
    width: 100%;
    margin-bottom: 20px;
}

.alex-another{
    margin: 0 0 0 30px;
    font-weight: bolder;
    color: rgb(117, 116, 116);
    font-size: larger;
    text-decoration: none;
}

.critic-text{
    margin: 10px 0 0 50px;
    color: rgb(146, 146, 146);
    font-weight: 500;
    line-height: 2.5;
    font-size: 20px;
}

.critic-texte{
    margin: 0 0 0 30px;
    color: rgb(146, 146, 146);
    font-weight: 500;
    line-height: 1.7;
    font-size: 20px;
}

.alex-anothere{
    margin: 0 0 0 50px;
    font-weight: bolder;
    color: rgb(117, 116, 116);
    font-size: larger;
    text-decoration: none;
}


.contact{
    padding-top: 50px;
    width: 100%;
    height: 400px;
    display: block;
}

.photo{
    background-size: cover;
    width: 225px;
    height: 160px;
    border: 0px;
}

.one{
    background-size: cover;
    background-image: url(../images/Conc-5.jpg);
}

.two{
    background-size: cover;
    background-image: url(../images/Conc-4.jpg);
}

.three{
    background-size: cover;
    background-image: url(../images/Conc-2.jpg);
}

.four{   
    background-size: cover;
    background-image: url(../images/Conc-1.jpg);
}

.five{
    background-size: cover;
    background-image: url(../images/Gallery-7.jpg);
}

.six{
    background-size: cover;
    background-image: url(../images/Reh-2.jpg);
}

.seven{
    background-size: cover;
    background-image: url(../images/Reh-3.jpg);
}

.eight{
    background-size: cover;
    background-image: url(../images/Conc-4.jpg);
}

.nine{
    background-size: cover;
    background-image: url(../images/portrait-1--400x284.png);
}

.ten{
    background-size: cover;
    background-image: url(../images/Gallery-23-400x284.jpg);
}

.eleven{
    background-size: cover;
    background-image: url(../images/Gallery-17.jpg);
}

.twelve{
    background-size: cover;
    background-image: url(../images/Gallery-22.jpg);
}

.popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    visibility: hidden;
}

.popup:target{
    visibility: visible;
    opacity: 1;
}

.popup_close{
    position: absolute;
    right: 100px;
    top: 50px;
    font-size: 30px;
    color: gray;
    text-decoration: none;
}

.popup_body{
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}

.popup_content{
    width: 1300px;
    height: 800px;
    box-sizing: border-box;
}

.coloron{
    color: black;
}

.popup_contentus{
    width: 575px;
    height: 866px;
}

.nines{
    background-size: cover;
    background-image: url(../images/portrait-1-.png);
}

.tens{
    background-size: cover;
    background-image: url(../images/Gallery-23.jpg);
}

.past{
    color: gray;
    text-decoration: none;
    width: 50px;
    height: 50px;
    font-size: 50px;
    position: absolute;
    top: calc(50% - 50px);
    left: 30px;
}

.next{    
    font-size: 50px;
    color: gray;
    text-decoration: none;
    width: 50px;
    height: 50px;
    position: absolute;
    top: calc(50% - 50px);
    right: 0;
}

@media screen and (max-width:1200px) {
    .big-photo{
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: top;
        background-image: url(../images/Front-at-First-choce-Name-Photo-.jpg);
        display: block;
        width: 100%;
        height: 518px;
        padding-top: 300px;
    }

    .concerts-list{
        font-family: 'Montserrat';
        padding: 20px 0 0 20px;
        margin: 20px auto;
        width: 800px;
        height: 480px;
        background-color: white;
    }

    .blocks{
        float: left;
        width: 266px;
        height: 100%;
    }

    .date{
        font-family: 'Montserrat';
        color: gray;
        font-size: 16px;
        font-style: normal;
        font-weight: 250;
        line-height: 2;
    }
    
    .description{
        color: gray;
        margin: 0 auto;
        font-size: 16px;
        font-weight: 300;
        line-height: 2;
    }

    .schedule{
        padding-top: 50px;
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
        background-attachment: fixed;
        background-image: url(../images/Reh-1-a.jpg);
        width: 100%;
        height: 13650px;
        display: block;
        /* background-color: green; */
    }

    .dopelus{
        height: 700px;
    }
}
